.main {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header h1 {
	font-size: 48px;
	font-weight: 900;
	margin: 30px 0px 20px 0px;
}

.header h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 30px;
	color: #484e61;
}

.header a {
	font-size: 18px;
	padding: 10px 40px;
}

.detail h3 {
	font-size: 36px;
	font-weight: 900;
}

.detail p {
	font-size: 18px;
	line-height: 32px;
}

@media only screen and (max-width: 991px) {
	
	.main {
		margin: 30px;
	}
	
	.main img {
		display: none;
	}
	
	.details {
		margin: 80px 50px 50px 50px;
	}
	
	.detail {
		margin: 50px 0px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1439px) {
	
	.main {
		width: 70%;
		margin: 100px auto;
		padding-right: 60px;
	}
	
	.main img {
		display: none;
	}
	
	.details {
		display: flex;
		justify-content: space-around;
		width: 70%;
		margin: 0 auto;
		padding-top: 100px;
		margin-bottom: 100px;
	}
	
	.detail {
		max-width: 400px;
		padding: 0px 20px;
	}
	
	.detail p {
		height: 160px;
	}
}

@media only screen and (min-width: 1440px) {
	
	.main {
		margin: 100px auto;
		width: 80%;
	}
	
	.main img {
		width: 776px;
		height: 277px;
		margin: auto;
	}
	
	.header {
		margin: 30px 30px 30px 100px;
		width: 530px;
	}
	
	.details {
		display: flex;
		justify-content: space-around;
		width: 70%;
		margin: 0 auto;
		padding-top: 100px;
		margin-bottom: 100px;
	}
	
	.detail {
		width: 400px;
	}
	
	.detail p {
		height: 130px;
	}
}