.main {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 80%;
	margin: 100px auto;
}

.header {
	margin: 30px 30px 30px 100px;
	width: 530px;
}

.header h1 {
	font-size: 48px;
	font-weight: 900;
	margin: 30px 0px 20px 0px;
}

.header h2 {
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 30px;
}

.header a {
	font-size: 18px;
	padding: 10px 40px;
}

.details {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto;
	padding-top: 100px;
	margin-bottom: 100px;
}

.detail {
	width: 400px;
}

.detail h3 {
	font-size: 36px;
	font-weight: 900;
}

.detail p {
	font-size: 18px;
	line-height: 32px;
	height: 130px;
}