* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #f8f9fa;
	color: #484e61;
}

h1, h2, h3 {
	color: #282C36;
}

nav {
	font-size: 18px;
}

.navbar-brand {
	padding-left: 30px;
}

.nav-item {
	padding: 0px 18px;
}

.signup {
	background-color: #e02800;
	border-radius: 3px;
	font-weight: 900;
	margin-right: 36px;
	margin-left: 18px;
}

.signup a {
	color: white !important;
	width: 100%;
}

.footer {
	margin: 16px 0px;
	padding-left: 50px;
	color: #6a728a;
}

.footer a {
	text-decoration: none;
	color: #6a728a;
}

.footer a:hover {
	color: #282C36;
}